@import url('https://rsms.me/inter/inter.css');
@import url("https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/themes/df-messenger-default.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.vc_tta-panel-heading {
    display: none;
}

div.vc_tta-panel-body img {
    height: auto;
    overflow: auto;
}
/*float images in units to the left to get para text side by side*/
img.alignleft {
    float:left;
    margin: 0 15px 15px 0;
}

/*align center class for image and PDF icons etc from Wordpress. */
img.aligncenter {
    display: block;
    margin : auto;
}

img.alignright {
    float:right;
    margin: 0 15px 15px 0;
}

table {
    max-width:100%;
}

td {
    padding-left:8px;
    padding-right:8px;
}

.vc_btn3.vc_btn3-color-warning.vc_btn3-style-modern:focus, .vc_btn3.vc_btn3-color-warning.vc_btn3-style-modern:hover {
    color: #f7f7f7;
    border-color: #e08700;
    background-color: #e08700;
}

.vc_btn3.vc_btn3-color-warning.vc_btn3-style-modern {
    color: #fff;
    border-color: #f90;
    background-color: #f90;
    border: 1px solid transparent;
    text-decoration: none;
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}
/*crashing exercise stuff*/

.graph-container {
    position: relative;
    width: 100%;
    height: 500px;
    border: 1px solid black;
    margin-top: 20px;
  }
  
  .node {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .line {
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: black;
  }

